body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

@media screen and (max-width: 480px) {
  .header {
  
    margin-bottom: 35px;
  }

  .title{
    text-align: center;
    font-size: 28px;
  }
  .name h2 {
    font-size: 24px;
  }

  .image img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
  }
  .track {
    text-align: center;
    font-size: 20px;
  }
  .date {
    text-align: center;
    font-size: 15px;
  }
  .repo {
    text-align: center;
    font-size: 13px;
  }
  .footer p {
    margin-top: 5px;
    text-align: center;
    padding: 20px 0px;
  }
}



.title{

  text-align: center;
  font-size: 32px;
}
.name {
  text-align: center;
}
.name h2 {
  font-size: 27px;
}
.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 300px;
  height: 300px;
  border-radius: 60%;
}
.track {
  text-align: center;
  font-size: 25px;
}
.date {
  text-align: center;
  font-size: 18px;
}
.repo {
  text-align: center;
  font-size: 16px;
}
.footer p {
  margin-top: 120px;
  text-align: center;

  padding: 20px 0px;
}
